<div class="grid-item" id="<%= dom_id post %>">





  <div class="card my-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt=<%= post.title %>>
    <div class="card-body">
      <h5 class="card-title post-title"><%= post.title %></h5>
      <h6 class="card-title post-user"><%=link_to post.user.name, user_path(post.user) %></h6>
      <p class="card-text"><%= truncate( post.body, :length =>140, :separator =>'' ) %></p>

      <%= link_to "Show this post",post,class:"btn btn-dark" %>

      <em class="float-end"><%= pluralize(post.views, "view") %></em>
    </div>
  </div>
</div>
